@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100dvh;
    background-color: #F2B678;
    font-family: Poppins;
}

.bigt {
    font-size: 12rem;
    line-height: 1;
}
.bigt2 {
    font-size: 9rem;
    line-height: 1;
}
.hover-text span.hover-img{
    display: none;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hover-text:hover span.hover-img{
    display: block;
}